{% extends "base.html" %}

{% block meta_extra %}<META NAME="robots" CONTENT="noindex,nofollow">{% endblock %}

{% block title %}Hacker CS - Password Reset{% endblock %}

{% block content_title %}Password Reset{% endblock %}

{% block breadcrumbs %}<a href="/">Home</a> >> Password Reset{% endblock %}

{% block content %}

{% if validlink %}
<p>Please enter your new password twice:</p>
<form action="" method="post">
{% csrf_token %}  
<table>
    <tr>
      <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label></td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm password:</label></td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Reset my password" /></td>
    </tr>
  </table>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used.  Please <a href="http://hackercs.com/accounts/password/reset">request a new password reset.</a></p>
{% endif %}
{% endblock %}
