{% extends "base.html" %}

{% block meta_extra %}<META NAME="robots" CONTENT="noindex,nofollow">{% endblock %}

{% block title %}Hacker CS - Password Change{% endblock %}

{% block content_title %}Password Change{% endblock %}

{% block breadcrumbs %}<a href="/">Home</a> >> Password Change{% endblock %}

{% block content %}

	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<p class="submit">
		<input type="submit" name="post" class="submit" value="Change my password" />
		</p>
	</form>

{% endblock %}