{% extends "base.html" %}

{% block title %}Hacker CS - Password Reset{% endblock %}

{% block content_title %}Password Reset{% endblock %}

{% block breadcrumbs %}<a href="/">Home</a> >> Password Reset{% endblock %}

{% block content %}
<p>Forgot your username and/or password? Enter your e-mail address below, and we'll send you your username and instructions on how to set a new password.</p>
<br />
<form action="" method="post">
{% csrf_token %} 
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
{% endblock %}
