{% extends "base.html" %}
{%block meta_description%}Hacker CS, Video: {{video.module_title_part}}, Length: {{video.video_length}}{%endblock%}
{% block title %}Hacker CS - {{video.module_title_part}}{% endblock %}
{% block content_title %}<div id="video_title">{{video.module_title_part}}</div>{% endblock %}
{% block script %}

{% endblock %}
{% block breadcrumbs %}
	<a href="/">Home</a> >> <a href="/streams/{{back}}">Modules</a> >> Video
{% endblock %}


{% block content %}
{% if error_message %}
	<div id="flash_notice">{{ error_message }}</div>

{% else %}

<div id="video_iframe">
	<iframe width="853" height="510" src="http://www.youtube.com/embed/{{video.video_youtube_id}}?wmode=opaque" frameborder="0" allowfullscreen></iframe>
</div>

<a name="interact_anchor"></a>
<div id="interact">
	{% if user.is_authenticated %}
		<form action="/videos/mark/" method="post">
	{% else %}
		<form action="/videos/mark/{{video.pk}}" method="post">
	{% endif %}
		{% csrf_token %}
		{% if video_completed %}
			<input type="hidden" name="action_type" value="mai" />
			<input class="form_button" type="submit" value="Unmark" />
		{% else %}
			<input type="hidden" name="action_type" value="mac" />
			<input title="Mark this video as completed in your profile" class="form_button" type="submit" value="Mark as Completed" />
		{% endif %}
		<input type="hidden" name="video" value="{{video.pk}}" />
	</form>
</div>
<div id="video_navigation">
	{% if previous_video %}  <a href="/videos/{{previous_video}}">Prev</a>{% endif %}
	{% if next_video %} <a href="/videos/{{next_video}}">Next</a>{% endif %}
</div>
<div id="video_description">
<fieldset>
<legend>Video Details</legend>
<div id="fielset_content">
	<div id="youtube_details">

			<div id="title">Youtube Description</div>
			{{video.video_description|urlize|linebreaksbr}}

	</div>
	<div id="video_list">
		<div id="title">Videos in Current Module</div>
		<ul>
		{% for v in video.module_id.video_set.all %}
			{% if v.pk == video.pk %}
			<li>Part {{v.video_part}}/{{v.module_id.video_count}} <div id="video_meta">[{{v.video_type}}, {{v.video_length}}]</div></li>
			{% else %}
			<li><a href="/videos/{{v.url_friendly}}">Part {{v.video_part}}/{{v.module_id.video_count}}</a> <div id="video_meta">[{{v.video_type}}, {{v.video_length}}]</div></li>
			{% endif %}
		{%endfor%}
		</ul>
	</div>
</div>
</fieldset>
</div>

<div id="sidebar">
	
	<a href="http://twitter.com/HackerCS" class="twitter-follow-button">Follow @HackerCS</a>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	
	<iframe src="http://www.youtube.com/subscribe_widget?p=Agilowen"

       style="overflow: hidden; height: 97px; width: 300px; border: 0;"

       scrolling="no" frameBorder="0">

    </iframe>
</div>
{% endif %}


{% endblock %}

