{% extends "base.html" %}

{%block meta_description%}Hacker CS is a free online database of Computer Science video tutorials.{%endblock%}

{%block fb_meta %}
	<meta property="og:image" content="http://hackercs.com/media/videos/hackercs_logo_euphemia_47.png" /> 
	<meta property="og:title" content="Hacker CS" /> 
	<meta property="og:type" content="university" /> 
	<meta property="og:url" content="http://www.hackercs.com/" /> 
	<meta property="og:description" content="Hacker CS is a free online database of Computer Science video tutorials." /> 
	<meta property="fb:admins" content="794085611"/>
{%endblock%}

{% block title %}Hacker CS{% endblock %}

{% block content_title %}Select a Stream{% endblock %}

{% block breadcrumbs %}
	Home
{% endblock %}

{% block content %}

{% if streams_list %}
	
	{% for stream in streams_list %}
		<div class="item">
			<div class="name">
				<a href="streams/{{stream.url_friendly}}">{{stream.stream_title}}</a>
			</div>
			<div class="meta">
				<div class="description">
					{{stream.stream_description}}
				</div>
				<div class="attributes">
					<ul>
						<li><span class="attr_name">Total Modules:</span> {{stream.module_count}}</li>
						<li><span class="attr_name">Total Length:</span> {{stream.stream_length}} </li>
					</ul>
				</div>
			</div>
		</div>
	{%endfor%}
	
{% else %}
	<div id="flash_notice">No streams are available</div>
{% endif %}

{% endblock %}
