{% extends "base.html" %}

{% block script %}
	<script>
		$(document).ready(function(){
			
			$(".toggle_container").hide();
		 
			$(".name").click(function(){
				$(this).toggleClass("active").next().slideToggle();
			});
		 
		});
	</script>
{% endblock %}

{% block title %}Hacker CS - {{stream}}{% endblock %}
{% block content_title %}Select a Video{% endblock %}

{% block breadcrumbs %}
	<a href="/">Home</a> >> Modules
{% endblock %}

{% block content %}
{% if associations_list %}
	<ol>
	{% for association in associations_list %}
		{% with module=association.association_module_id  %}
			
			<div class="item module">
				<div class="name"><li><a href="" onclick="return false;">{{ module }}</a></li></div>

				<div class="toggle_container">
					<div class="meta">
						<div class="description">
							{{module.module_description}}
						</div>
					</div>
				
					<div class="video_list">
						<ul>
						{% for video in module.video_set.all %}
							<li><a href="/videos/{{video.url_friendly}}">Part {{video.video_part}}/{{video.module_id.video_count}}</a> <div class="video_meta">[{{video.video_type}}, {{video.video_length}}]</div></li>
						{%endfor%}
						</ul>
					</div>
			
				</div>

			</div>
		
		{% endwith %}
	{% endfor %}
	</ol>
{% else %}
	<div id="flash_notice">There are no modules in this stream.</div>
{% endif %}

{% endblock %}

