<head>
	<META NAME="Description" CONTENT="{%block meta_description%}Hacker CS is a free online database of Computer Science video tutorials.{%endblock%}">
	{% block meta_extra %}{% endblock %}
	
    <title>{% block title %}{% endblock %}</title>
	{% block fb_meta %}
		<meta property="og:image" content="http://hackercs.com/media/videos/hackercslogo_resizedsquare.png" /> 
		<meta property="og:title" content="Hacker CS" /> 
		<meta property="og:type" content="university" /> 
		<meta property="og:url" content="http://www.hackercs.com/" /> 
		<meta property="og:description" content="Hacker CS is a free online database of Computer Science video tutorials." /> 
		<meta property="fb:admins" content="794085611"/>
	{% endblock %}
	<link href="/media/videos/stylesheet.css" rel="stylesheet" type="text/css" />
	
	<!--<link href="/media/videos/stylesheet.css" rel="stylesheet" type="text/css" media="Screen" />-->
	<!--<link rel="stylesheet" href="/media/videos/handheld.css" type="text/css" media="handheld, only screen and (max-device-width:480px)" />-->
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	{% block script %}{% endblock %}
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24187105-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="header_main_wrapper">
		<div id="header">
			<div id="header_content">
				<div id="home_logo">
					<a href="/"><img alt="Hacker CS Home" src="/media/videos/hackercs_logo_euphemia_medium.png" /></a>
				</div>			
				<div id="nav_menu_buttons">
						<a href="/">Home</a> 
						<a href="/videos/top">Top</a> 
						<a href="/videos/popular">Popular</a>
						<a href="/videos/new">New</a>
						<a href="/media/feed.rss">RSS</a>
						&nbsp;&nbsp;&nbsp;
						{% if user.is_authenticated %}
							<a href="/accounts/logout">Logout</a>
							|&nbsp;&nbsp;  
							<a href="/users/edit">Profile</a>
						{% else %}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="/login">Login</a>
						{% endif %}
				</div> 
				
				<div id="search_wrapper"> 
					<form action="/videos/search" id="search_form" method="get">
						<input id="search_box" name="q" type="text" /> 
						<input id="search_button" type="submit" value="search"></input> 
					</form> 
				</div>  
			</div>
		</div>
		
		<div id="content_title">
			<h1>{% block content_title %}{%endblock%}</h1>
		</div>
		
		<div id="main">
			
			
			<div id="breadcrumbs">
				{% block breadcrumbs %}{% endblock %}
			</div>
		
		
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			
		</div>
		
		<div id="push"></div>
	</div>
	<div id="footer"> 
		<div id="footer_content">
			<div id="what"> 
				<p>Hacker CS is a <b>free</b> online database of Computer Science video tutorials.</p> 
				
				<!--<p>Read the <a href="">story of HackerCS</a></p> -->
			</div> 
			<div id="footerimage"> 
				<a href="/videos/random"><img alt="Try a Random Hacker CS Video" title="Try a Random Computer Science Video Tutorial" src="/media/videos/hackercslogo_resizedsquare.png" /></a> 
			</div>
			<div id="goal"> 
				<p>The goal of Hacker CS is to become the Khan Academy of Computer Science.</b></p> 
				
			</div> 

			<div id="lower"> 
				<table border="0">
				<tr>
				<td>
				<span id="twitter">
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://hackercs.com" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>			
				</span>
				</td>
				<td>
				<span id="support">
					If you think this is a worthy cause, see how you can <a href="/faq/?pk=1">contribute to Hacker CS</a>.
				</span>
				</td>
				<td>
				<span id="fb">
					<iframe src="http://www.facebook.com/plugins/like.php?app_id=188096441253619&amp;href=hackercs.com&amp;send=false&amp;layout=box_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:65px;" allowTransparency="true"></iframe>
				</span>
				</td>
				</tr>
				</table>
			</div>
		</div>
	</div>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/0De0c2RkERFxVvZD7Wp8Gg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>
</html>
