<head>
    <title>{% block title %}{% endblock %}</title>
	<link href="/media/videos/stylesheet.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	{% block script %}{% endblock %}
	
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24599160-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	</script>
</head>
<body>
	<div id="header_main_wrapper">
		<div id="header">
			<div id="header_content">
				<div id="home_logo">
					<a href="/"><img alt="Hacker CS Home" src="/media/videos/hackercs_logo_euphemia_medium.png" /></a>
				</div>			
				<div id="nav_menu_buttons">
						<a href="/">Home</a> 
						<a href="/videos/top">Top</a> 
						<a href="/videos/popular">Popular</a>
						<a href="/videos/new">New</a>
						&nbsp;&nbsp;&nbsp;
						<a href="/faq/?pk=4">Upcoming Features</a>
				</div> 
				
				<div id="search_wrapper"> 
					<form action="/videos/search" id="search_form" method="get">
						<input id="search_box" name="q" type="text" /> 
						<input id="search_button" type="submit" value="search"></input> 
					</form> 
				</div>  
			</div>
		</div>
		
		<div id="content_title">
			<h1>{% block content_title %}{%endblock%}</h1>
		</div>
		
		<div id="main">
			
			
			<div id="breadcrumbs">
				{% block breadcrumbs %}{% endblock %}
			</div>
		
		
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			
		</div>
		
		<div id="push"></div>
	</div>
	<div id="footer"> 
		<div id="footer_content">
			<div id="what"> 
				<p>Hacker CS is a <b>free</b> online database of Computer Science video tutorials.</p> 
				
				<!--<p>Read the <a href="">story of HackerCS</a></p> -->
			</div> 
			<div id="footerimage"> 
				<a href="/"><img alt="Hacker CS Home" src="/media/videos/hackercs_logo_euphemia_47.png" /></a> 
			</div>
			<div id="goal"> 
				<p>The goal of Hacker CS is to become the Khan Academy of Computer Science.</b></p> 
				
			</div> 
			
			<div id="support"> 
				If you think this is a worthy cause, see how you can <a href="/faq/?pk=1">contribute to Hacker CS</a>.
			</div>
		</div>
	</div>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/0De0c2RkERFxVvZD7Wp8Gg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>
</html>
